//
//  Config.xcconfig
//  IslandPet
//
//  Created by Bailey Kiehl on 7/11/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL = https:/$()/baileykiehl.com/islandpetserver/
